/* Police Raleway */ 
@font-face
{
    font-family : 'Raleway';
    src : url('fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype'),
    url('fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype'),
    url('fonts/Raleway/static/Raleway-Bold.ttf') format('truetype'),
    url('fonts/Raleway/static/Raleway-Black.ttf') format('truetype'),
    url('fonts/Raleway/static/Raleway-ExtraBold.ttf') format('truetype'),
    url('fonts/Raleway/static/Raleway-Regular.ttf'), format('truetype');
}

/* Corps */ 
body
{
    font-family: 'Raleway', Arial, sans-serif;
    margin : 0px 20px 0px 20px;
}

/* Le menu */
nav ul
{
    display : flex;
}

/* L'en-tête */
nav
{
    display : flex;
    justify-content: space-between;
}

/* Menu hyperlien */
nav ul li
{
    list-style-type: none;  
    margin-right : 50px;
}

/* Hyperlien */
li a:hover
{
    border-top : 1px solid #0065FC;
    padding-top : 10px;
}

/* Activités */
nav ul li span
{
    color : grey;
    font-size: 15px;
}

/* Hyperlien */
li a
{
    font-size: 15px;
    text-decoration: none;
    color : #0065FC;
}

/* Hébergement titre */
.hebergement p
{
    font-weight : bold;
    font-size : 0.9em;
    margin-bottom : 5px;
}

/* Hébergement sous-titre */
.hebergement span
{
    display : block;
    color : black;
    font-size : 0.8em;
    margin-bottom : 10px;
}

/* Bouton rechercher */
form button
{
    background-color: #0065FC;
    color : white;
    border-radius: 0 10px 10px 0;
    padding : 0.6em;
    position : relative;
    right : 8px;
}

/* Barre de recherche */
form input
{
    padding : 0.6em;
    border-color : #F2F2F2;
    margin-bottom : 20px;
    font-weight: bold;
    position : relative;
    right : 4px;
}

/* Icone position */
form i
{
    background-color: rgb(235, 235, 235);
    padding : 9px;
    height : 18px;
    position : relative;
    border-radius : 9px 0px 0px 9px;
}

/* Titre filtres */
.filtred h3
{
    font-weight: bold;
    font-size : 0.9em;
    margin-right : 20px;
}

/* Barres filtrage */
.filtred
{
    display : flex;
}

/* Menu filtrage */
.filtred button
{
    margin : 0px 20px 30px 0px;
    background-color: white;
    border-radius : 30px;
    font-weight: bold;
    height : 35px;
    position : relative;
    top : 3px;
    border-color : #F2F2F2;
    padding-right : 20px;
}

/* Icone filtrages */
.filtred i
{
    background-color: #DEEBFF;
    padding : 10px 10px 10px 10px;
    color : #0065FC;
    border-radius: 50%;
    position : relative;
    bottom : 2px;
    right : 11px;
    vertical-align : middle;
}

/* Short text */
span
{
    color : grey;
    font-size : 0.8em;
}

/* Logo info */
span i
{
    border : 1px solid #DEEBFF;
    border-radius : 50%;
    padding : 3px 7px 3px 7px;
    font-size: 0.8em;
    color : #0065FC;
    margin : 0px 5px 20px 0px;
}

/* Liste hébergements */
.heber
{
    background-color: #F2F2F2;
    display : flex;
    flex-wrap: wrap;
    border-radius : 20px;
    padding : 20px;
    width : 43%;
}

/* Images hébergements */
section article img
{
    width : 98%;
    height : 70px;
    border-radius : 15px 15px 0px 0px;
    padding : 1%;
}

/* Article hébergements */
section article
{
    border : 3px solid white;
    border-radius : 20px;
    width : 170px;
    height : 140px;
    margin : 10px;
    background-color : white;
    padding : 1px;
}

/* Titre hébergement à Marseille */
section h1
{
    flex : 100%;
    margin-bottom : 0;
}

/* Titre hébergements */
section article h2
{
    font-size: 13px;
    margin : 0px 0px 0px 5px;
}

/* Prix hébergements */
section article p
{
    font-size: 11px;
    font-weight : normal;
    margin : 4px 0px 3px 5px;
}

/* Symbole euros */
section article span, aside article span
{
    color : black;
    font-weight : bold;
    font-size : 11px;
}

/* Afficher plus */
section span
{
    color : black;
    font-weight : bold;
    font-size : 14px;
}

/* Afficher plus */
.afficherplus
{
    margin : 15px 0px 0px 12px;
}

/* Etoiles */
.stars
{
    margin-left : 4px;
}

/* Etoiles bleues */
.fa-star
{
    color : #0065FC;
}

/* Les plus populaires */
aside
{
    background-color: #F2F2F2;
    display : flex;
    flex-wrap: wrap;
    border-radius : 20px;
    padding : 20px;
    width : 25%;
    float : right;
}

/* Images populaires */
aside img
{
    height : 98%;
    width : 40%;
    float : left;
    margin-right : 15px;
    border-radius : 15px 0px 0px 15px;
}

/* Titre hébergement populaires */
aside article h2
{
    font-size: 16px;
}

/* Prix populaires */
aside article p
{
    font-size: 11px;
    font-weight : normal;
    margin-bottom : 30px;
}

/* Article populaires */
aside article
{
    border : 3px solid white;
    border-radius : 20px;
    width : 350px;
    height : 130px;
    margin : 10px;
    background-color : white;
    padding : 1px;
}

/* Font Awesome populaire */
.fa-chart-line
{
    align-self : center;
    margin-left : 100px;
    
}

/* Container */
.container
{
    display : flex;
    justify-content: space-between;
    margin-bottom : 50px;
}

/* Activités */
.act 
{
    display : flex;
    flex-wrap: wrap;
}

/* Titre activités */
.act h1
{
    flex : 100%;
}

figure
{
    background-color: white;
}

figcaption
{
    color : black;
    font-weight : bold;
    font-size : 14px;
}

img 