/* Police Raleway */ 
@font-face
{
    font-family : 'Raleway';
    src : url('fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype'),
    url('fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype'),
    url('fonts/Raleway/static/Raleway-Bold.ttf') format('truetype'),
    url('fonts/Raleway/static/Raleway-Black.ttf') format('truetype'),
    url('fonts/Raleway/static/Raleway-ExtraBold.ttf') format('truetype'),
    url('fonts/Raleway/static/Raleway-Regular.ttf'), format('truetype');
}

/* Corps */ 
body
{
    font-family: 'Raleway', Arial, sans-serif;
    margin : 0px 40px 0px 40px;
}

/* Le menu */
nav ul
{
    display : flex;
}

/* L'en-tête */
nav
{
    display : flex;
    justify-content: space-between;
}

/* Menu hyperlien */
nav ul li
{
    list-style-type: none;  
    margin-right : 50px;
}

/* Hyperlien */
li a:hover
{
    border-top : 1px solid #0065FC;
    padding-top : 10px;
}

/* Activités */
nav ul li span
{
    color : grey;
    font-size: 15px;
}

/* Hyperlien */
li a
{
    font-size: 15px;
    text-decoration: none;
    color : #0065FC;
}

/* Hébergement titre */
.hebergement p
{
    font-weight : bold;
    font-size : 0.9em;
    margin-bottom : 5px;
}

/* Hébergement sous-titre */
.hebergement span
{
    display : block;
    color : black;
    font-size : 0.8em;
    margin-bottom : 10px;
}

/* Bouton rechercher */
form .desktop
{
    background-color: #0065FC;
    color : white;
    border-radius: 0 10px 10px 0;
    padding : 0.6em;
    position : relative;
    right : 8px;
}

/* Barre de recherche */
form input
{
    padding : 0.6em;
    border-color : #F2F2F2;
    margin-bottom : 20px;
    font-weight: bold;
    position : relative;
    right : 4px;
}

/* Mobile recherche */
.mobile
{
    display : none;
}

/* Icone position */
form i
{
    background-color: rgb(235, 235, 235);
    padding : 9px;
    height : 18px;
    position : relative;
    border-radius : 9px 0px 0px 9px;
}

/* Titre filtres */
.filtred h3
{
    font-weight: bold;
    font-size : 0.9em;
    margin-right : 20px;
}

/* Barres filtrage */
.filtred
{
    display : flex;
}

/* Menu filtrage */
.filtred button
{
    margin : 0px 20px 30px 0px;
    background-color: white;
    border-radius : 30px;
    font-weight: bold;
    height : 35px;
    position : relative;
    top : 3px;
    border-color : #F2F2F2;
    padding-right : 20px;
}

/* Menu filtrage envol */
.filtred button:hover
{
    background-color : grey;
}

/* Icone filtrages */
.filtred i
{
    background-color: #DEEBFF;
    padding : 10px 10px 10px 10px;
    color : #0065FC;
    border-radius: 50%;
    position : relative;
    bottom : 2px;
    right : 11px;
    vertical-align : middle;
}

/* Short text */
span
{
    color : grey;
    font-size : 0.8em;
}

/* Logo info */
span i
{
    border : 1px solid #DEEBFF;
    border-radius : 50%;
    padding : 3px 7px 3px 7px;
    font-size: 0.8em;
    color : #0065FC;
    margin : 0px 5px 20px 0px;
}

/* Liste hébergements */
.heber
{
    background-color: #F2F2F2;
    display : flex;
    flex-wrap: wrap;
    border-radius : 20px;
    padding : 40px;
    width : 56%;
}

/* Images hébergements */
.heber img
{
    width : 98%;
    height : 60%;
    border-radius : 15px 15px 0px 0px;
    padding : 1%;
    object-fit: cover; /* Anti flou en zoomant */
}

/* Article hébergements */
.heber article
{
    border : 3px solid white;
    border-radius : 20px;
    width : 200px;
    height : 170px;
    margin : 20px;
    background-color : white;
    padding : 1px;
}

/* Titre hébergement à Marseille */
.heber h1
{
    flex : 100%;
    margin-bottom : 0;
}

/* Titre hébergements */
.heber article h2
{
    font-size: 13px;
    margin : 0px 0px 0px 5px;
}

/* Prix hébergements */
.heber article p
{
    font-size: 11px;
    font-weight : normal;
    margin : 4px 0px 3px 5px;
}

/* Symbole euros */
.heber article span, aside article span
{
    color : black;
    font-weight : bold;
    font-size : 11px;
}

/* Afficher plus */
.heber span
{
    color : black;
    font-weight : bold;
    font-size : 14px;
}

/* Afficher plus */
.afficherplus
{
    margin : 15px 900px 0px 12px;
    white-space: nowrap;
}

/* Etoiles */
.stars
{
    margin-left : 4px;
}

/* Etoiles bleues */
.blue
{
    color : #0065FC;
}

/* Etoiles grises */
.grey
{
    color : grey;
}

/* Les plus populaires */
aside
{
    background-color: #F2F2F2;
    display : flex;
    flex-wrap: wrap;
    border-radius : 20px;
    padding : 30px;
    width : 30%;
    float : right;
}

/* Images populaires */
aside img
{
    height : 98%;
    width : 40%;
    float : left;
    margin-right : 15px;
    border-radius : 15px 0px 0px 15px;
    object-fit: cover; /* Anti flou en zoomant */
}

/* Titre hébergement populaires */
aside article h2
{
    font-size: 16px;
}

/* Prix populaires */
aside article p
{
    font-size: 11px;
    font-weight : normal;
    margin-bottom : 30px;
}

/* Article populaires */
aside article
{
    border : 3px solid white;
    border-radius : 20px;
    width : 350px;
    height : 130px;
    margin : 10px;
    background-color : white;
    padding : 1px;
}

/* Font Awesome populaire */
.fa-chart-line
{
    align-self : center;
    margin-left : 130px;
}

.popAwesome
{
    display : flex;
}

/* Container */
.container
{
    display : flex;
    justify-content: space-between;
    margin-bottom : 50px;
}

/* Activités */
.act 
{
    display : flex;
    flex-wrap: wrap;
    padding : 0px;
}

/* Titre activités */
.act h1
{
    flex : 100%;
}

/* Légendes */
.act figcaption
{
    color : black;
    font-weight : bold;
    font-size : 14px;
    border-radius : 0px 0px 20px 20px;
    box-shadow : 2px 0px 6px #F2F2F2;
    height : 30px;
    padding : 15px 0px 0px 15px;
}

/* Images activités */
.act img
{
    display : block;
    border-radius: 20px 20px 0px 0px;
    box-shadow : 2px 0px 6px #F2F2F2;
    height : 135px;
    width : 275px;
    object-fit: cover; /* Anti flou en zoomant */
}

/* Images solo */
.port img, .calanques img
{
    height : 350px;
}

/* Image Pomègue */
.pomegues img 
{
    height : 150px;
}

/* Légende Pomègues */
.pomegues figcaption
{
    margin-bottom : 40px;
}

/* Image Frioul */
.frioul img 
{
    height : 120px;
}

figure
{
    margin-left : 0px;
    margin-right : 60px;
    margin-bottom : 30px;
}

/* Pied de page */
footer
{
    display : flex;
    background-color: #F2F2F2;
    height : 150px;
    padding : 10px 0px 0px 20px;
    margin : 15px -40px 0px -40px; /* Body margin 20px */
}

/* Menu pied de page */
footer ul
{
    list-style : none;
    margin-right : 200px;
    padding : 0;
}

/* Puce pied de page */
footer li
{
    color : black;
    font-size : 14px;
    padding : 5px;
}

/* Menu titre */
footer h3
{
    color : black;
    font-weight : bold;
    font-size : 14px;
    padding-left : 5px;
}

@media all and (max-width : 1024px)
{
    body
    {
        width : 100%;
        margin : 0;
    }

    nav h1 img
    {
        padding-left : 20px;
    }

    /* Logo Reservia */
    nav h1
    {
        width : 0px;
    }

    /* Menu */
    nav ul
    {
        display: grid;
        grid-template-columns: repeat(0, 50%);
        grid-auto-rows: minmax(20px, auto);
        padding : 0;
        width : 100%;
    }

    /* Menu */
    nav ul li a, nav ul li span, nav ul li
    {
        font-size : 16px;
        margin : 0;
        padding-bottom: 5px;
    }


    /* Menu hébergements */
    nav ul li:nth-child(1)
    {
        border-bottom : 3px solid #0065FC;
        grid-column: 1;
        grid-row: 2;
        text-align : center;
    }

    /* Menu activités */
    nav ul li:nth-child(2)
    {
        border-bottom : 3px solid #E2E2E2;
        grid-column: 2;
        grid-row: 2;
        text-align : center;
    }

    /* Menu s'inscrire */
    nav ul li:nth-child(3)
    {
        font-weight: bold;
        grid-column: 2;
        grid-row: 1;
        margin : 20px 20px 30px 0px;
        text-align : right;
    }

    /* Trouvez votre hébergement */
    .hebergement
    {
        font-size : 25px;
        margin-left : 20px;
        margin-right : 20px;
    }

    /* Hébergement sous-titre */
    .hebergement span
    {
        font-size : 16px;
        margin-bottom: 20px;
    }

    /* Barre de recherche */
    .search
    {
        margin-left : 20px;
    }

    /* Barre de recherche */
    form .desktop
    {
        display : none;
    }

    /* Barre de recherche */
    form .mobile
    {
        display : contents;
        color : white;
    }

    /* Icone recherche */
    .fa-search
    {
        background-color: #0065FC;
        position : relative;
        right : 15px;
        bottom : 5px;
        border-radius: 10px;
        width : 20px;
        height : 20px;
        text-align : center;
    }

    /* Icone localisation */
    .fa-map-marker-alt
    {
        height : 20px;
        bottom : 2px;
        width : 50px;
        text-align: center;
    }

    /* Placeholder */
    form input
    {
        width : 200px;
        font-size: 15px;
        border-color : #F2F2F2;
    }

    /* Titre filtres */
    .filtred h3
    {
        flex : 100%;
    }

    /* Filtres */
    .filtred
    {
        display : flex;
        flex-wrap : wrap;
        width : 85%;
        margin-left : 20px;
    }

    /* Bouton filtre */
    .filtred button 
    {
        margin : 0px 20px 20px 0px;
    }
    
    /* Info phrase */
    .info
    {
        display : block;
        font-size : 14px;
        margin : 10px 20px 20px 20px; 
    }

    /* Populaire + Hébergement */
    .container
    {
        flex-direction: column-reverse;
    }

    /* Populaire + Hébergement */
    aside, .heber
    {
        width : 100%;
        padding : 0;
        border-radius: 0;
    }

    /* Hôtel */
    aside article
    {
        margin : 0px 5px 10px 10px;
        width : 90%;
    }

    /* Etoiles */
    aside article p
    {
        margin-bottom : 40px;
    }

    /* Titre populaire */
    aside h1
    {
        font-size : 20px;
        margin-left : 15px;
    }

    /* Hébergement */ 
    .heber
    {
        padding : 0;
        background-color: white;
    }

    /* Article hébergement */
    .heber article
    {
        width : 100%;
        box-shadow : 1px 1px 20px #F2F2F2;
        margin : 10px 20px 0px 15px;
    }

    /* Titre hébergement */
    .heber h1 
    {
        margin : 20px 0px 0px 20px;
        font-size : 20px;
    }

    /* Activité */
    .act
    {
        width : 100%;   
    }

    /* Titre activité */
    .act h1
    {
        font-size : 20px;
        margin : 20px 0px 0px 20px;
    }

    .act article
    {
        margin : 10px 20px 0px 15px;
    }

    /* Images activité */
    .act img
    {
        height : 150px;
        width : 100%;
    }

    /* Elément activité */
    figure
    {
        margin-bottom : 5px;
        width : 100%;
    }

    /* Afficher plus */
    span.afficherplus
    {
        font-size : 15px;
        margin : 25px 0px 0px 20px;
    }

    .container
    {
        margin-bottom : 30px;
    }

    /* Bas de page */
    footer 
    {
        display : grid;
        margin : auto;
        height : auto;
        margin-top : 30px;
    }

    /* Menu bas de page */
    footer li
    {
        width : 250px;
        font-size : 15px;
    }


    /* Titre bas de page */
    footer h3
    {
        font-size : 15px;
    }

    .aPropos, .nosHebergements, .assistance
    {
        width : 50%;
    }

    .fusionAct, .calanques, .port
    {
        width : 100%;
    }


}